html
{
    position: relative;
    min-height: 100%;
}

body
{
    clear: both;
    padding: 0;
    margin: 0;
    background-color: #92B7C4 !important;
    font-family: 'Droid Serif', serif !important;
}

html, body
{
    height: 100% !important; 
}

.container
{
    height: 100% !important;
}

.fill
{
    height: 100% !important;
    min-height: 100% !important;
}

/* Navigation bar styling */

.navbar
{
    background-color: #549AA6 !important;
    border: none !important;
}
li > .nav_link
{
    font-size: 1.5em;
    color: aliceblue;
}
.current
{
    background-color: aliceblue;
    color: #FFBA81 !important;
}
ul.nav > li > a:hover
{   
    color: #FFBA81 !important;
    background-color: #F0F0F0 !important;
}
.navbar-toggle > .icon-bar
{
    background-color: aliceblue !important;
}
.navbar-toggle:hover > .icon-bar
{
    background-color: #92B7C4 !important;
}
.navbar-toggle:hover
{
    background-color: aliceblue !important;
}

.navbar-toggle
{
    float: left !important;
    margin: 0 20px;
}

/* Page content holder styling */

#content_holder
{
    margin-top: 50px;
    background-color: aliceblue;
    vertical-align: baseline;
    padding: 10% 0% 0% 0%;
}
#img_container
{
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    background-image: url("https://scontent-vie1-1.xx.fbcdn.net/hphotos-xpl1/v/t1.0-9/10003119_294288357395090_552386787_n.jpg?oh=99a36fb38064f5f62eccada692d46d49&oe=56E7AE13");
	background-size: 250px 300px;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin: 0 50%;
}
#img_description
{
    margin-top: 20px;
	font-size: 2em;
	text-align: center;
}
.myButton {
	background-color: #549AA6;
	border:1px solid #92B7C4;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Droid Serif', serif;
	font-size: 1.25em;
	padding:1.0% 2.25%;
	text-decoration:none;
	-webkit-transition: all 0.6s ease-in;
    margin: 0 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
}
.myButton:hover {
	background-color: #549AA6;
	color: #FFBA81;
	-webkit-transition: all 0.3s ease-in;
}
@keyframes update
{
    0% { padding: 10% 0% 0% 0%; }
    100% { padding: 7.5% 0% 0% 0%; }
}
@keyframes update_text
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
#new_description
{
    margin-top: 20px;
    font-size: 1.15em;
    padding: 0% 22%;
    text-align: center;
}

/* Footer styling */

.footer
{
    background-color: #549AA6;
    color: aliceblue;
    position: fixed;
    text-align: center;
    height: 50px;
    bottom: 0;
    width: 100%;
}
.footer > p
{
    transform: translate(0%, 75%);
    -ms-transform: translate(0%, 75%);
    -webkit-transform: translate(0%, 75%);
    font-size: 1.05em;
}

/* Faculty content styling */

#f_img
{
    float: left;
    margin: 15px;
    border: 1px solid #549AA6;
}

#content_holder_faculty
{
    margin-top: 50px;
    background-color: aliceblue;
    vertical-align: baseline;
    padding: 5% 0% 0% 0%;
    text-align: justify;
}

#content_holder_faculty > p
{
    padding-right: 5%;
}

/* MyWork styling */

#work_description
{
	padding: 0% 5% 0% 5%;
    text-align: center;
}

.work_example
{
	width: 50%;
	height: 50%;
	border: 1px solid #549AA6;
}

#img_note
{
    margin: 20px;
}
