* 
{
    clear: both;
    margin: 0%;
    padding: 0%;
}
body
{
    background-color: #51717F;
}
#container
{
    clear: both;
    position: absolute;
    z-index: 99;
    width: 50%;
    height: 400px;
    background-color: #E5DFDD;
    border: 1px solid #FFF8F5;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.description
{
    width: 29%;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    margin: 5% 2% 0% 2%;
}
.turn
{
    width: 29%;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    margin: 5% 2% 0% 2%;
}
#time_white, #time_black, #turn_number
{
    width: 29%;
    display: inline-block;
    text-align: center;
    font-size: 3em;
    margin: 5% 2% 0% 2%;
    padding: 0%;
}
#time_white, #time_black, .turn
{
    background-color: #82B5CC;
    border-radius: 5px; 
}
.description, #turn_number
{
    background-color: #2B657F;
    color: aliceblue;
    border-radius: 5px;
}
#button_white, #button_black
{
    width: 5%;
    height: 50px;
    background-color: #E5DFDD;
    position: absolute;
    z-index: 1;
}
#button_white
{
    top: 24.5%;
    left: 31%;
}
#button_black
{
    top: 24.5%;
    right: 31%;
}
@-webkit-keyframes button_update
{
    0%      {   top: 24.5%  }
    100%    {   top: 28.5%  }
}
@-webkit-keyframes button_update_reverse
{
    0%      {   top: 28.5%  }
    100%    {   top: 24.5%  }
}

/* Options style */

#options
{
    padding: 2%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 1%;
    width: 10%;
    background-color: #82B5CC;
}
div p
{
    font-size: 1.5em;
}
#settings_button
{
    width: 50%;
    padding: 2%;
    background-color: #E5DFDD;
    display: table;
    margin: 0 auto;
}
.input_field
{
    width: 100%;
    height: 1.2em;
    background-color: #E5DFDD;
}

/* Media query */

@media screen and (max-width: 1600px)
{
    .description, .turn
    {
        font-size: 1.5em;
        margin: 5% 1.33% 0% 1.33%;
        width: 30%;
    }
    #time_white, #time_black, #turn_number
    {
        font-size: 2em;
        width: 30%;
        margin: 5% 1.33% 0% 1.33%;
    }
    #left
    {
        left: 1%;
    }
    #right
    {
        right: 1%;
    }
    #container
    {
        height: 250px;
    }
    #button_white
    {
        top: 32%;
    }
    #button_black
    {
        top: 32%;
    }
    @-webkit-keyframes button_update
    {
        0%      {   top: 32%  }
        100%    {   top: 35%  }
    }
    @-webkit-keyframes button_update_reverse
    {
        0%      {   top: 35%  }
        100%    {   top: 32%  }
    }
}
